html {
  /*background-color: black;*/
}

h1 {
  font-family: "League Gothic" !important;
}

img {
  display: block;
  max-width: 40px;
  max-height: 40px;
}

#demo-test {
  font-family: "League Gothic";
}

#demo-logo {
  max-width: 50px;
  max-height: 50px;
}
